<header class="c-site-header">
  <div class="o-wrapper o-wrapper--small">
    <div class="c-site-header__inner">
      <a href="/" class="c-brand"><img class="c-brand__logo" src="/apple-touch-icon.png" alt="tehranjs logo - لوگوی تهران جی اس"></a>
      <nav class="c-navigation">
        <a class="c-navigation__item" href="/">خانه</a>
        <a class="c-navigation__item" href="/">جلسات</a>
        <a class="c-navigation__item" href="/">وبلاگ</a>
        <a class="c-navigation__item" href="single-page.html">درباره ما</a>
      </nav>
    </div>
  </div>
</header>