---
layout: page
---
<!--TODO: BLOG TEMPLATE-->
<main class="c-single-page__main u-margin-bottom-huge">
  <div class="o-wrapper o-wrapper--small">
    <article class="c-single-page__article">
      <header class="c-article__header u-align-center">
        <h1 class="c-article__title">{{ page.title }}</h1>
        <p class="article__subtitle u-color-gray-dark">
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | jdate: "%d %b %Y" | habify}}</time>{% if page.author %} توسط <span itemprop="author" itemscope itemtype="http://schema.org/Person"><a href="{{ site.baseurl | urljoin: "/about" }}" itemprop="name">{{ page.author }}</a></span>{% endif %}{% if page.category_fa  %} در دسته‌ی: <a href="{{ site.baseurl | urljoin: "/blog/category/" }}{{ page.category }}">{{ page.category_fa }}</a>{% endif %}
        </p>
      </header>

      <main class="c-article__body u-margin-bottom-large">
        {{ content }}
      </main>

      <footer class="c-article__footer">
        {% include partials/tags.html %}

        {% include partials/share-links.html %}
      </footer>
    </article>
  </div>
</main>
<!--TODO: EVENT TEMPLATE-->
<header class="c-article__header u-align-center u-padding-bottom-large">
  <p class="u-h4 u-color-gray-dark">{{ page.session }}</p>
  <h1 class="c-article__title u-margin-bottom-large">{{ page.title }}</h1>
  <div class="c-event-detail">
    <dl class="c-event-detail__list u-align-right o-list-bare u-clearfix">
      <dt class="c-event-detail__item-title">تاریخ:</dt>
      <dd class="c-event-detail__item-data">
        <time datetime="2016-01-11T00:00:00+03:30" itemprop="datePublished"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | jdate: "%d %b %Y" | habify}}</time></time>
      </dd>
      <dt class="c-event-detail__item-title">ارایه دهنده:</dt>
      <dd class="c-event-detail__item-data"><a href="{{ page.url }}" itemprop="name">{{ page.author }}</a></dd>
      {% if page.video %}
      <dt class="c-event-detail__item-title">ویدیو:</dt>
      <dd class="c-event-detail__item-data"><a href="{{ page.video}}" itemprop="name">یوتوب</a></dd>
      {% endif %}
      {% if page.audio %}
      <dt class="c-event-detail__item-title">صدا:</dt>
      <dd class="c-event-detail__item-data"><a href="{{ page.audio }}" itemprop="name">ساندکلود</a></dd>
      {% endif %}
      {% if page.slides %}
      <dt class="c-event-detail__item-title">اسلاید:</dt>
      <dd class="c-event-detail__item-data"><a href="{{ page.slides }}" itemprop="name">{{ page.title }}</a></dd>
      {% endif %}
    </dl>
  </div>
</header>

<main class="c-article__body u-margin-bottom-large">
  {{ content }}
</main>